{% load static %}
<!DOCTYPE html>

<html lang="es" class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page - Mudanzas Tropicales</title>
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/customStyles.css' %}">
  <link rel="icon" href="{% static 'logo.jpg' %}">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <style>@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');</style>
  <script src="{% static 'js/tailwindConfig.js' %}"></script>
</head>
<body>

    <!-- Navbar -->
    {% include "components/navbar.html" %}

    <!-- Hero Section -->
    {% include "components/hero.html" %}

    <!--About us-->
    {% include "components/about.html" %}

    <!--Pricing -->
    {% include "components/pricing.html" %}

    <!--Testimony session-->
    {% include "components/testimony.html" %}

    <!-- Footer -->
    {% include "components/footer.html" %}

    <script src="{% static 'mainScrip.js' %}"></script>
    <script>AOS.init();</script>
</body>
</html>