<footer id="contacto" class="w-full py-16 bg-black bg-opacity-55">
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between">
            <!-- Columna de redes sociales -->
            <div class="w-full md:w-2/5 mb-12 md:mb-0 flex flex-col items-center md:items-start">
                <h4 class="text-xl font-semibold text-white mb-6">Follow us in social media</h4>
                <div class="flex space-x-6">
                    <a href="#" class="social-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"
                            fill="none" stroke="#cbd5e1" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-instagram instagram">
                            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                        </svg>
                    </a>
                    <a href="#" class="social-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"
                            fill="none" stroke="#cbd5e1" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-twitter twitter">
                            <path
                                d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                            </path>
                        </svg>
                    </a>
                    <a href="#" class="social-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"
                            fill="none" stroke="#cbd5e1" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-github github">
                            <path
                                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                            </path>
                        </svg>
                    </a>
                </div>
                <div class="mt-8 text-slate-300">
                    <p class="mb-2"><i class="fas fa-envelope mr-3"></i>tropicals@gmail.com</p>
                    <p><i class="fas fa-phone mr-3"></i>+1 (123) 456-7890</p>
                </div>
            </div>

            <!-- Columna de texto -->
            <div class="w-full md:w-1/2">
                <h4 class="text-xl font-semibold text-white mb-6">Keep on Traking</h4>
                <p class="text-slate-300 leading-relaxed mb-6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque fuga totam quas necessitatibus 
                    molestias ipsam, adipisci blanditiis nisi? Voluptatum, sint? Hic 
                    vitae nam nisi voluptatem veritatis quod minima fugit fuga.
                </p>
                <div class="flex space-x-4">
                    <button class="px-5 py-2 bg-accent text-white rounded-lg bg-indigo-700  hover:bg-indigo-950 ransition duration-300">
                        <a href="{% url 'contact_page' %}"> Contact</a>
                    </button>
                    <button class="px-5 py-2 border border-slate-500 text-slate-300 rounded-lg hover:bg-slate-800 transition duration-300">
                        more information
                    </button>
                </div>
            </div>
        </div>

        <!-- Separador -->
        <div class="border-t border-slate-700 my-12"></div>

        <!-- Información adicional y copyright -->
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="text-slate-400 mb-4 md:mb-0">
                <p>&copy; 2025 Tropical Moving Solutions . all the rights in the IP.</p>
            </div>
            <div class="flex space-x-6">
                <a href="#" class="text-slate-400 hover:text-white transition">Terms</a>
                <a href="#" class="text-slate-400 hover:text-white transition">Privicy</a>
                <a href="#" class="text-slate-400 hover:text-white transition">Cookies</a>
                <a href="#" class="text-slate-400 hover:text-white transition">FAQ</a>
            </div>
        </div>
    </div>
</footer>