<footer id="contacto" class="w-full py-16 bg-black bg-opacity-55">
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between">
            <!-- Columna de redes sociales -->
            <div class="w-full md:w-2/5 mb-12 md:mb-0 flex flex-col items-center md:items-start">
                <h4 class="text-xl font-semibold text-white mb-6">Follow us in social media</h4>
                <div class="flex space-x-6">
                    <a href="https://www.instagram.com/tropicalmovingsolutions?igsh=MTV3NXFkaHpkZjA4Zg==" class="social-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"
                            fill="none" stroke="#cbd5e1" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-instagram instagram">
                            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                        </svg>
                    </a>
                    <a href="https://facebook.com/633184726549867?ref=pl_edit_xav_ig_profile_page" class="social-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" 
     fill="none" stroke="#cbd5e1" stroke-width="1.5" stroke-linecap="round" 
     stroke-linejoin="round" class="feather feather-facebook facebook">
    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
</svg>
                    </a>
                </div>
                <div class="mt-8 text-slate-300">
                    <p class="mb-2"><i class="fas fa-envelope mr-3"></i>tropicalmovingsolutions@gmail.com</p>
                    <p><i class="fas fa-phone mr-3"></i>954-380-0485</p>
                </div>
            </div>

            <!-- Columna de texto -->
            <div class="w-full md:w-1/2">
                <h4 class="text-xl font-semibold text-white mb-6">Keep on Traking</h4>
                <p class="text-slate-300 leading-relaxed mb-6">
                   For more information about the company and services we provide
                   you can look for our content in social media 
                   and also contact us by email
                </p>
                <div class="flex space-x-4">
                    <button class="px-5 py-2 bg-accent text-white rounded-lg bg-indigo-700  hover:bg-indigo-950 ransition duration-300">
                        <a href="{% url 'contact_page' %}"> Contact</a>
                    </button>
                    <button class="px-5 py-2 border border-slate-500 text-slate-300 rounded-lg hover:bg-slate-800 transition duration-300">
                        more information
                    </button>
                </div>
            </div>
        </div>

        <!-- Separador -->
        <div class="border-t border-slate-700 my-12"></div>

        <!-- Información adicional y copyright -->
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="text-slate-400 mb-4 md:mb-0">
                <p>&copy; 2025 Tropical Moving Solutions . all the rights in the IP.</p>
            </div>
            <div class="flex space-x-6">
                <a href="#" class="text-slate-400 hover:text-white transition">Terms</a>
                <a href="#" class="text-slate-400 hover:text-white transition">Privicy</a>
                <a href="#" class="text-slate-400 hover:text-white transition">Cookies</a>
                <a href="#" class="text-slate-400 hover:text-white transition">FAQ</a>
            </div>
        </div>
    </div>
</footer>