<nav id="navbar" class="fixed top-0 left-0 right-0 bg-white shadow-md z-50 transition-all duration-300">
    <div class="container mx-auto px-4 py-3 flex justify-between items-center">
        <!-- Logo -->
        <a href="" class="flex items-center space-x-2">
            <div class="h-10 w-10 rounded-md bg-gradient-to-r from-moving-green to-moving-blue flex items-center justify-center">
                <span class="text-white font-bold">TMC</span>
                <img src="static/logo.jpg" alt="" class="rounded-xl bg-cover">
            </div>
        </a>

        <!-- Menu Desktop -->
        <ul class="hidden md:flex space-x-6 text-base font-medium text-gray-700">
            <li><a href="#" class="nav-link text-gray-600 font-medium pb-1 hover:text-teal-600 active">Home</a></li>
                <li><a href="#servicios" class="nav-link text-gray-600 font-medium pb-1 hover:text-teal-600">Services</a></li>
                <li><a href="#sobre-nosotros" class="nav-link text-gray-600 font-medium pb-1 hover:text-teal-600">About us</a></li>
                <li><a href="#testimonios" class="nav-link text-gray-600 font-medium pb-1 hover:text-teal-600">Testimonie</a></li>
                <li><a href="#contacto" class="nav-link text-gray-600 font-medium pb-1 hover:text-teal-600">Contact</a></li>
        </ul>

        <!-- Mobile Menu Button -->
        <button id="menu-btn" class="md:hidden text-teal-600 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
        </button>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="hidden md:hidden bg-white shadow-md">
        <ul class="space-y-3 text-center py-4 text-base font-medium text-gray-700">
            <li>
                    <a href="#inicio" class="nav-link active text-gray-600 font-medium pb-1">Home</a>
                </li>
                <li>
                    <a href="#servicios" class="nav-link text-gray-600 font-medium pb-1">Services</a>
                </li>
                <li>
                    <a href="#sobre-nosotros" class="nav-link text-gray-600 font-medium pb-1">About us</a>
                </li>
                <li>
                    <a href="#testimonios" class="nav-link text-gray-600 font-medium pb-1">Testimonies</a>
                </li>
                <li>
                    <a href="#contacto" class="nav-link text-gray-600 font-medium pb-1">Contact</a>
                </li>
        </ul>
    </div>
</nav>